html
{
    margin: 0;
    padding: 0;
}
body
{
    margin: 0;
    padding: 0;
}
header
{
    display: flex;
    justify-content: center;
}
header a 
{
    color: black;
    text-decoration: none;
}
nav
{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}
nav ul
{
    display: flex;
    padding: 0;
}
nav li
{
    display: flex;
    list-style-type: none;
    margin: 0 10px;
    position: relative;
}

@keyframes opacity
{
    0%
    {
        opacity: 0;
    }
    10%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

@keyframes move
{
    0%
    {
        transform: translateY(0);
    }
    35%
    {
        transform: translateY(10px);
    }
    75%
    {
        transform: translateY(-10px);
    }
    100%
    {
        transform: translateY(0);
    }
}


nav li:hover > ul li
{
    display: flex;
    animation: opacity 25s forwards;
}

nav li ul
{
    position: absolute;
    height: 100%;
    left: 130px;
}

nav li ul li
{
    display: flex;
    align-items: center;
    display: none;
}

nav li ul li:hover
{
    animation: move 5s forwards;
}

nav a
{
    color: black;
    text-decoration: none;
    font-size: 2.0em;
}

@keyframes initial-to-royalblue
{
    0%
    {
        color: black;
    }
    100%
    {
        color: royalblue;
    }
}


nav a:hover
{
    animation: initial-to-royalblue 1.0s forwards;
}

#News
{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*background-image: url("../Image/News.png");
    background-size: 38em;
    background-repeat: repeat;*/
    z-index: 4;
}

#News h1
{
    font-size: 4.0em;
    margin: 1%;
}

#Article_Box
{
    margin: auto;
    width: 80%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
}

#Article_Box h1
{
    font-size: 1.0em;
}

.article
{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 1px 10px 1px;
    width: 30%;
    margin-bottom: 5%;
    background-color: white;
}

.article h1
{
    margin: 2%;
}

.article h1 a
{
    text-decoration: none;
    color: black;
}

.article h1 a:hover
{
    animation: initial-to-royalblue 1.0s forwards;
}

.article img
{
    width: 60%;
    align-self: center;
    border: 1px solid black;
}

